Servidor MCP Normy n8n.json
{
  "nodes": [
    {
      "parameters": {
        "path": "1c3d9677-19d5-4163-a70d-527c1eb57326"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ec1a4d0d-dd47-4cbd-b35b-1724a236a98a",
      "name": "MCP Server Trigger",
      "webhookId": "1c3d9677-19d5-4163-a70d-527c1eb57326"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una o varias filas en Seatable",
        "tableName": "Perfiles",
        "fieldsToSend": "autoMapInputData",
        "apply_default": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Apply_Column_Default_Values', ``, 'boolean') }}",
        "inputsToIgnore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inputs_to_Ignore', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.seaTableTool",
      "typeVersion": 2,
      "position": [
        -224,
        176
      ],
      "id": "c7edba59-1ae8-4190-a66e-cefbff2c661c",
      "name": "Crear una fila en Seatable",
      "credentials": {
        "seaTableApi": {
          "id": "TOUy6ismIsfT8pRI",
          "name": "SeaTable account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Borra una o varias filas en Seatable",
        "operation": "remove",
        "tableName": "Perfiles",
        "rowId": "={{ $json.row_id }}"
      },
      "type": "n8n-nodes-base.seaTableTool",
      "typeVersion": 2,
      "position": [
        -96,
        192
      ],
      "id": "ef1bdbb7-92e5-4f10-aab5-0478c2524305",
      "name": "Borrar una fila en Seatable",
      "credentials": {
        "seaTableApi": {
          "id": "TOUy6ismIsfT8pRI",
          "name": "SeaTable account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtén datos de una o varias filas en Seatable",
        "operation": "get",
        "tableName": "Perfiles",
        "rowId": "={{ $json.row_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.seaTableTool",
      "typeVersion": 2,
      "position": [
        48,
        208
      ],
      "id": "f8c01556-863f-4860-85e6-2c9c5ea959aa",
      "name": "Obtener una fila en SeaTable",
      "credentials": {
        "seaTableApi": {
          "id": "TOUy6ismIsfT8pRI",
          "name": "SeaTable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "tableName": "Perfiles",
        "searchColumn": "ID del Usuario",
        "searchTerm": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.seaTableTool",
      "typeVersion": 2,
      "position": [
        240,
        208
      ],
      "id": "a4168bb5-0ba1-456f-9b77-e4011ab3d068",
      "name": "Busca una fila en Seatable",
      "credentials": {
        "seaTableApi": {
          "id": "TOUy6ismIsfT8pRI",
          "name": "SeaTable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "Perfiles",
        "rowId": "={{ $json.row_id }}"
      },
      "type": "n8n-nodes-base.seaTableTool",
      "typeVersion": 2,
      "position": [
        384,
        192
      ],
      "id": "9d2a6b8e-6b7f-461b-a209-671c79401d47",
      "name": "Update a row in SeaTable1",
      "credentials": {
        "seaTableApi": {
          "id": "TOUy6ismIsfT8pRI",
          "name": "SeaTable account"
        }
      }
    }
  ],
  "connections": {
    "Crear una fila en Seatable": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Borrar una fila en Seatable": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener una fila en SeaTable": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca una fila en Seatable": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a row in SeaTable1": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "829b301aa2071e12ee807007f2ceefe57bfeee80e1f6575d12e8e779c557b212"
  }
}